<p><strong>CLOUD SYNC SERVICE</strong></p>

<p>
<%= link_to 'DCM SIM STATS', dcm_sim_stats_path %><br>
<%= link_to 'NURO SIM STATS', nuro_sim_stats_path %><br>
<%= link_to 'ZERO SIM STATS', zero_sim_stats_path %><br>
</p>

<p><%= link_to 'TOTAL SIM STATS', total_sim_stats_path %></p>

