<% view_height_px = 540 %>

<div style="height:<%= view_height_px %>px;" >
  <%= line_chart [ {name: "2 month ago",  data: @graph_data_1},
                   {name: "Last month",   data: @graph_data_2},
                   {name: "Now",          data: @graph_data_3} ],
      id: '0 SIM Log Stats',
      label: 'Log',
      xtitle: 'Day',
      ytitle: 'MB',
      discrete: true,
      library: {
        backgroundColor: 'aliceblue',
        width: 960,
        height: view_height_px,

        lineWidth: 2,
        colors: ['#FFFF7F', '#BFFFBF', '#7FFF7F'],
        curveType: 'none',

        pointShape: 'circle',
        pointSize: 0,
        pointVisible: 'true',

        chartArea: {
          backgroundColor: 'mintcream',
          width: 840,
          height: 440,
          left: 100,
          top: 30
        },

        hAxis: {
          slantedText: 'true',
          slantedTextAngle: 90,
          showTextEvery: 1,
          textStyle: {
            color: 'black',
          }

        },

        vAxis: {
          baseline: @limit_mb,
          baselineColor: '#FFBF7F',
          gridlines: {
            color: 'whitesmoke'

          },
          ticks: @v_tick,
          maxValue: @v_max,
          minValue: 0,
          showTextEvery: 1,
          textStyle: {
            color: 'black',
          }

        },

        crosshair: {
          color: 'cyan',
          trigger: 'both'

        },

        legend: {
          position: 'in',
          alignment: 'start'

        },

    } %>
</div>

