<table>
  <tr>
    <th>Date</th>
    <th>Day Used</th>
    <th>Month Used Current</th>
  </tr>

  <% @sim_stats.each do |log| %>
    <tr>
      <td align="left" ><%= "#{log.year}/#{log.month}/#{log.day}" %></td>
      <td align="right" ><%= log.day_used %></td>
      <td align="right" ><%= log.month_used_current %></td>
    </tr>
  <% end %>
</table>

