<strong>TOTAL SIM STATS</strong>

<hr>

<p>DCM SIM STATS</p>
<%= render 'shared/stats_graph',
    id: @dcm_chart_id,
    data_1: @dcm_data_1,
    data_2: @dcm_data_2,
    data_3: @dcm_data_3,
    mb_range: @dcm_mb_range,
    mb_limit: @dcm_mb_limit,
    mb_ticks: @dcm_mb_ticks
%>

<hr>

<p>NURO SIM STATS</p>
<%= render 'shared/stats_graph',
    id: @nuro_chart_id,
    data_1: @nuro_data_1,
    data_2: @nuro_data_2,
    data_3: @nuro_data_3,
    mb_range: @nuro_mb_range,
    mb_limit: @nuro_mb_limit,
    mb_ticks: @nuro_mb_ticks
%>

<hr>

<p>ZERO SIM STATS</p>
<%= render 'shared/stats_graph',
    id: @zero_chart_id,
    data_1: @zero_data_1,
    data_2: @zero_data_2,
    data_3: @zero_data_3,
    mb_range: @zero_mb_range,
    mb_limit: @zero_mb_limit,
    mb_ticks: @zero_mb_ticks
%>

<hr>

<p><%= link_to "CloudSyncService Top", root_path %></p>

