<p><strong>DCM SIM STATS ALL LOG</strong></p>

<p><%= link_to "CloudSyncService Top", root_path %></p>

<hr>

<%= render 'shared/stats_graph',
    id: @chart_id,
    data_1: @data_1,
    data_2: @data_2,
    data_3: @data_3,
    mb_range: @mb_range,
    mb_limit: @mb_limit,
    mb_ticks: @mb_ticks
%>

<hr>

<%= render 'shared/stats_list' %>

