// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-collapse: collapse;
}

table.no-border td {
  border-style: none;
  padding-right: 32px;
}

