// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-collapse: collapse;
}

table.no-border td {
  border-style: none;
  padding-right: 32px;
}

table.no-border-less-padding td {
  border-style: none;
  padding-right: 8px;
}

th, td {
  padding-left: 4px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  border: 1px solid #000000;
}

